<header title="Manual"></header>
<ion-content padding [ngClass]="skin" (click)="return()">
    <h1>{{this.title}}</h1>
    <button ion-button (click)="readQR()" *ngIf="skin=='blue'" outline icon-only color="light">   <ion-icon name="qr-scanner"></ion-icon></button>
    <button ion-button (click)="return()" *ngIf="skin=='green'" outline icon-only color="secondary">   <ion-icon name="thumbs-up"></ion-icon></button>
    <button ion-button (click)="return()" *ngIf="skin=='red'" outline icon-only color="danger">   <ion-icon name="close-circle"></ion-icon></button>
    <p *ngIf="dateUsed!=''">{{this.dateUsed}}</p>
    <p>{{this.subtitle}}</p>
</ion-content>