<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col>
          <ion-buttons>
              <button ion-button icon-only>
                <ion-icon name="settings"></ion-icon>
              </button>
            </ion-buttons>
      </ion-col>
      <ion-col text-center>
         <img src="../assets/imgs/icon.png" style="height:50px">
      </ion-col>
      <ion-col>
        <ion-buttons end>
          <button ion-button icon-only (click)="logOut()"> 
            <ion-icon name="exit"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
