page-manual {
    .scroll-content {
        padding: 0 !important;
    }
    .numpad {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .display {
            width: 100%;
            text-align: right;
            height: 12%;
            letter-spacing: 5px;
            font-size: 1.5em;
            background-color: #1d2a3b;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
            padding-top: 6%;
        }
        ul {
            padding: 0;
            margin: 0;
            display: inline-block;
            height: 88%;
            width: 100%;
            li {
                float: left;
                padding: 12%;
                width: 33.333%;
                height: 25%;
                font-size: 2em;
                box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
                background-color: #1c2b3e;
                text-align: center;
                list-style: none;
                color:#fff;
                ion-icon {
                    font-size: 1em;
                    color:#fff !important;
                }
                &.backspace {
                    width: 66.666%;
                }
                &:hover,
                &:focus {
                    background-color: #488aff;
                }
            }
        }
    }
    .message {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        h1 {
            margin-top: 50px !important;
            font-size: 30px !important;
        }
        button {
            height: 100px !important;
            margin-top: 50px !important;
            span {
                font-size: 50px;
            }
        }
    }
}